/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Lexend Deca', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* ========================================================================= */
/* TABLE OF CONTENTS */
/* 

Created mobile first @ 375px

1.GLOBAL
2.LAYOUT
3.TYPOGRAPHY
4.MEDIA QUERY
*/

/* ========================================================================= */
/* 1. GLOBAL */
:root {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: 
  hsla(0, 0%, 100%, 1);
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: 
  hsla(233, 47%, 7%, 1);
}

/* ========================================================================= */
/* 2. LAYOUT */



/* ========================================================================= */
/* 3. TYPOGRAPHY */


.attribution {
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* ========================================================================= */
/* 4. MEDIA QUERY */