/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Lexend Deca', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* ========================================================================= */
/* TABLE OF CONTENTS */
/* 

Created mobile first @ 375px

1.GLOBAL
2.LAYOUT
3.TYPOGRAPHY
4.MEDIA QUERY
*/

/* ========================================================================= */
/* 1. GLOBAL */
:root {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: 
  hsla(0, 0%, 100%, 1);
  text-align: center;
  letter-spacing: 0px;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: 
  hsla(233, 47%, 7%, 1);
}
html, body {
  height: 956px;
}

/* ========================================================================= */
/* 2. LAYOUT */
#container-position {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.container {
  width: 327px;
  height: 780px;
  position: relative;
  background-color: rgb(27, 25, 55);
  border-radius: 8px;
}

/* IMAGE */
.image, .purple, .picture {
  width: 327px;
  height: 240px;
  position: absolute;
  border-radius: 8px 8px 0 0;
}
  .purple {
    position: absolute;
    background-color: rgb(96, 1, 155);
  }
  .picture {
    position: relative;
    object-fit: cover;
    object-position: 5% 12%;
    opacity: 0.67;
  }

/* INFO | LAYOUT */
.info {
  position: relative;
  height: 96px;
  width: 264px;
  top: 17.35rem;
  margin-left: 32px;
  margin-right: 32px;
}
  #title {
    height: 96px;
    width: 264px;
  }
  #description {
    height: 100px;
    width: 264px;
    margin-top: 0;
  }

/* STATS | LAYOUT */
  .stats {
    width: 264px;
    height: 16em;

    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    top: 37.4rem;
    left: 30px;
  }
    .project-title {
      margin-top: -18px;
    }
    .templates, .queries {
      margin-top: -7px;
    }

    .queries {
      margin-bottom: 87px;
    }
/* ATTRIBUTION | LAYOUT */
.attribution {
  width: 100%;
  position: absolute;
  bottom: -2.6rem;
}


/* ========================================================================= */
/* 3. TYPOGRAPHY */
strong {
  color: 
  hsla(277, 64%, 61%, 1);
  font-weight: 700;
}
#title {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
}
#description {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: hsla(0, 0%, 100%, 1);
  opacity: .75;
}
.data {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.project-title {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.6;
}
.queries {
  text-transform: uppercase;
}

/* ATTRIBUTION */
.attribution {
  font-size: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* ========================================================================= */
/* 4. MEDIA QUERY */
@media screen and (min-width: 750px) {
  .container {
    width: 1110px;
    height: 446px;
    top: -5.4rem;
  }
  .image, .purple, .picture {
    width: 540px;
    height: 446px;
    border-radius: 0 8px 8px 0;
    top: 0;
    right: 0;
  }
    .picture {
      object-position: center center;
    }

  .info, .stats {
    width: 403px;
    margin-left: 72px; 
  }

  .info {
    height: 340px;
    top: 3.03rem;
  }
  #title {
    width: 100%;
    height: 88px;
    font-size: 36px;
    line-height: 44px;
    text-align: left;
  }
  #description {
    width: 374px;
    height: 75px;
    margin-top: 25px;
    text-align: left;
  }

  .stats {
    flex-direction: row;
    width: 380px;
    height: 6rem;
    top: 20.4rem;
    left: -1.5rem;
  }
  .project-title, .templates, .queries {
    margin-top: 0;
  }
  .project-title {
    margin-top: -17px;
  }
  .queries {
    margin-bottom: 0;
  }
}