/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Lexend Deca', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* ========================================================================= */
/* TABLE OF CONTENTS */
/* 

Created mobile first @ 375px

1.GLOBAL
2.LAYOUT
3.TYPOGRAPHY
4.MEDIA QUERY
*/

/* ========================================================================= */
/* 1. GLOBAL */
:root {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: 
  hsla(0, 0%, 100%, 1);
  text-align: center;
  letter-spacing: 0px;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: 
  hsla(233, 47%, 7%, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ========================================================================= */
/* 2. LAYOUT */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 327px;
  margin-top: 158px;
  position: relative;
}
.bg-color {
  position: absolute;
  width: 327px;
  height: 650px;
  top: 50px;
  background: #1B1937;
  box-shadow: 0px 20px 20px rgba(23, 25, 41, 0.203087);
  border-radius: 8px;
  z-index: -1;
}

/* IMAGE */
.image, .picture, .purple {
  width: 327px;
  height: 240px;
  position: absolute;
  border-radius: 8px 8px 0px 0px;
}
  .picture {
    position: relative;
    object-fit: cover;
    opacity: 0.7;
  }
  .purple {
    position: absolute;
    background-color: #470372;
  }

/* INFO | LAYOUT */
.info {
  position: absolute;
  height: 96px;
  width: 264px;
  top: 150px;
  left: 32px;
}
  #title {
    height: 96px;
    width: 264px;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
  }
  #description {
    height: 100px;
    width: 264px;
  }

/* STATS | LAYOUT */
  .stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 264px;
    top: 380px;
    left: 30px;
  }


/* ========================================================================= */
/* 3. TYPOGRAPHY */
strong {
  color: 
  hsla(277, 64%, 61%, 1);
  font-weight: 700;
}
#description {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: hsla(0, 0%, 100%, 1);
  opacity: .75;
}
.data {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.project-title {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.6;
}

/* ATTRIBUTION */
.attribution {
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* ========================================================================= */
/* 4. MEDIA QUERY */